@import "./_colors.css";

html,
body,
#root {
    height: 100%;
    min-height: 100%;
}

body {
    background: var(--secondary);
    background-size: cover;
    color: var(--primary);
    font-family: var(--text);
    line-height: 1.5;
    margin: 0;
    width: 100%;
    transition: all 2s ease !important;
}

h1 {
    font-family: var(--code);
    font-size: 3rem;
    margin: 0;
}

h1,
h2 {
    font-weight: 600;
}

h2 {
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
    margin-bottom: 2rem;
}

h3 {
    font-weight: 600;
    margin: 0 0 0.5rem;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: color ease 0.5s;
}

a:hover {
    color: var(--accent);
    text-decoration: underline;
    transition: color ease 0.5s;
}

main {
    margin: 0 auto 3rem;
    width: 65%;
}

main > .grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

main > .grid::before {
    content: "";
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

main > .grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
